.call {
  text-align: center;
}

.player-container {
  padding: 20px;
  text-align: initial;
  bottom: 100px;
  /*width: 100%;*/
  position: fixed;
}

.button-group {
  padding: 20px;
}

.call-form {
  padding: 20px;
}

input,
button {
  /*margin-right: 10px;*/
}
